<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>New Roll</title>

    <style>
            .tooltip {
                position: relative;
                display: inline-block;
                border-bottom: 1px dotted black;
            }
            
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 200px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
            
                /* Position the tooltip */
                position: absolute;
                z-index: 1;
            }
            
            .tooltip:hover .tooltiptext {
                visibility: visible;
            }
            </style>

            <script>
                var angular = require('angular');
                var app = angular.module('DiceRoller', []);
                app.controller('diceCtrl', function($scope, $http){
                    $scope.reRolls = []; //Converted to numbers
                    $scope.reRollsText = ""; //The csv data from the textbox

                    $scope.numTrials = 100;
                    $scope.numDice = 1;
                    $scope.dieSize = 6;
                    $scope.addEach = 0;
                    $scope.addAll = 0;
                    
                    $scope.$watchGroup(['numTrials', 'numDice', 'dieSize', 'addEach', 'addAll', 'reRolls'], () => {
                        //Determine theoretical min and max
                        let diePoss = []; //Possible die results
                        for(var i = 1; i <= $scope.dieSize; i++)
                        {
                            if(!$scope.reRolls.includes(i))
                            {
                                diePoss.push(i);
                            }
                        }
                        var minPoss = diePoss[0];
                        var maxPoss = diePoss[diePoss.length-1];

                        minPoss += $scope.addEach;
                        maxPoss += $scope.addEach;

                        $scope.therMin = minPoss * $scope.numDice + $scope.addAll;
                        $scope.therMax = maxPoss * $scope.numDice + $scope.addAll;
                    });

                    $scope.$watch('reRollsText', ()=>
                    {
                        let nums = $scope.reRollsText.split(',');
                        for(var i = 0; i < nums.length; i++)
                        {
                            $scope.reRolls[i] = ~~$scope.reRolls[i];
                        }
                    });

                    $scope.submitForm = ()=>
                    {
                        const param = new Parameter($scope.numTrials, $scope.numDice, $scope.dieSize, $scope.addEach, $scope.addAll, $scope.reRolls, $scope.therMin, $scope.therMax);
                        ipcRenderer.send('roll', param);
                    }

                });
            </script>

</head>
<body ng-app="DiceRoller" ng-controller="diceCtrl">
    <div class="container">
        <form >
            <div>
                <label>Num trials</label>
                <input type="number" ng-model="numTrials" id="numtrials" value=100 autofocus>
            </div>
            <div>
                <label>Num dice to roll</label>
                <input type="number" ng-model="numDice" id="numdice" value=1 autofocus>
            </div>
            <div>
                <label># of sides per die</label>
                <input type="number" ng-model="dieSize" id="diesize" value=6 autofocus>
            </div>
            <div>
                <label>Add to each</label>
                <input type="number" ng-model="addEach" id="addeach" value=0 autofocus>
            </div>
            <div>
                <label>add to all</label>
                <input type="number" ng-model="addAll" id="addall" value=0 autofocus>
            </div>
            <div>
                <label>Rerolls</label>    <span class="tooltip">help
                        <span class="tooltiptext">Enter in a comma-separated list of numbers like 1,2,5</span>
                </span>

                <input type="text" ng-model="reRollText" id="reroll" autofocus>

            </div>

            <div>
                You are rolling ({{numDice}}d{{dieSize}} + {{addEach}}) + {{addAll}}, resulting in a min of {{therMin}} and a max of {{therMax}}. 
                <span id="spanNumDice">

                </span>
            </div>
            <button class='btn waves-effect waves-light' ng-click="submitForm" type="submit">Roll!</button>
            <button class='btn waves-effect waves-light' id="clear">Clear</button>
        </form>
    </div>
    <script>

        const electron = require('electron');
        const {ipcRenderer} = electron;
        const Parameter = require('./RollParams');

        const form = document.querySelector('form');

        document.getElementById('clear').addEventListener('click', clear);

        function clear(e)
        {
            e.preventDefault();
            ipcRenderer.send('clear');
        }

    </script>
</body>
</html>