<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>New Roll</title>

    <style>
            .tooltip {
                position: relative;
                display: inline-block;
                border-bottom: 1px dotted black;
            }
            
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 200px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
            
                /* Position the tooltip */
                position: absolute;
                z-index: 1;
            }
            
            .tooltip:hover .tooltiptext {
                visibility: visible;
            }
            </style>

            <script>
                var angular = require('angular');
                var app = angular.module('DiceRoller', []);
                app.controller('diceCtrl', function($scope, $http){
                    $scope.numTrials = 100;
                    $scope.numDice = 1;
                    $scope.dieSize = 6;
                    $scope.addEach = 0;
                    $scope.addAll = 0;



                });
            </script>

</head>
<body ng-app="DiceRoller" ng-controller="diceCtrl">
    <div class="container">
        <form >
            <div>
                <label>Num trials</label>
                <input type="number" ng-model="numTrials" id="numtrials" value=100 autofocus>
            </div>
            <div>
                <label>Num dice to roll</label>
                <input type="number" ng-model="numDice" id="numdice" value=1 autofocus>
            </div>
            <div>
                <label># of sides per die</label>
                <input type="number" ng-model="dieSize" id="diesize" value=6 autofocus>
            </div>
            <div>
                <label>Add to each</label>
                <input type="number" ng-model="addEach" id="addeach" value=0 autofocus>
            </div>
            <div>
                <label>add to all</label>
                <input type="number" ng-model="addAll" id="addall" value=0 autofocus>
            </div>
            <div>
                <label>Rerolls</label>    <span class="tooltip">help
                        <span class="tooltiptext">Enter in a comma-separated list of numbers like 1,2,5</span>
                </span>

                <input type="text" id="reroll" autofocus>

            </div>

            <span>
                You are rolling {{numDice}}d{{dieSize}}
                <span id="spanNumDice">

                </span>
            </span>
            <button class='btn waves-effect waves-light' type="submit">Roll!</button>
            <button class='btn waves-effect waves-light' id="clear">Clear</button>
        </form>
    </div>
    <script>

        const electron = require('electron');
        const {ipcRenderer} = electron;
        const Parameter = require('./RollParams');

        const form = document.querySelector('form');
        form.addEventListener('submit', submitForm);

        document.getElementById('clear').addEventListener('click', clear);

        function clear(e)
        {
            e.preventDefault();
            ipcRenderer.send('clear');
        }

        function submitForm(e){
            e.preventDefault();

            //TODO use angular binding instead
            const numTrials = ~~document.querySelector('#numtrials').value;
            const numDice =   ~~document.querySelector('#numdice').value;
            const dieSize =   ~~document.querySelector('#diesize').value;
            const addEach =   ~~document.querySelector('#addeach').value;
            const addAll =    ~~document.querySelector('#addall').value;
            let reRolls = [];

            let reRollText = document.querySelector('#reroll').value;
            reRolls = rerollTextToArray(reRollText);

            //Determine theoretical min and max
            let diePoss = []; //Possible die results
            for(var i = 1; i <= dieSize; i++)
            {
                if(!reRolls.includes(i))
                {
                    diePoss.push(i);
                }
            }
            var minPoss = diePoss[0];
            var maxPoss = diePoss[diePoss.length-1];

            minPoss += addEach;
            maxPoss += addEach;

            var therMin = minPoss * numDice + addAll;
            var therMax = maxPoss * numDice + addAll;

            const param = new Parameter(numTrials, numDice, dieSize, addEach, addAll, reRolls, therMin, therMax);
            ipcRenderer.send('roll', param);
        }

        function rerollTextToArray(text)
        {
            let ret = [];
            let nums = text.split(',');
            for(var i = 0; i < nums.length; i++)
            {
                nums[i] = ~~nums[i];
            }
            return nums;
        }

    </script>
</body>
</html>